[user]
	name = Nicolas FRANCOIS
	email = nicolas.franc@gmail.com
[github]
	user = nfrancois
	token = 8fae29add6687555ac94fb71620db7b1
[color]
	ui = auto
	status = auto
	branch = auto
	diff = auto
	interactive = auto
[alias]
	st = status -s
	ci = commit
	co = checkout
	br = branch
	fp = format-patch
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
	lga = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative --all
	oops = commit --amend -C HEAD
[merge]
	tool = opendiff
[core]
	#editor = /Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl -w
	editor = nano -w
	pager = cat
	autocrlf = input
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
